In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from regression import nvariate_polynomial_regression as pr

In [2]:
data = pd.read_csv('polynomial_regression_train.csv')
data.head()

   ID  Feature_1  Feature_2  Feature_3  Feature_4  Feature_5        Target
0   1  -0.299150   0.980381  -1.244780   0.420551  -0.352235  8.168743e-10
1   2  -0.374319  -1.179867   0.615588   0.054701   0.687182 -5.081225e-10
2   3  -1.240429  -0.139086  -0.001653   0.487685  -0.242808  4.560170e-10
3   4  -0.429881  -1.724246  -0.098046   0.896504   0.318585 -2.647546e-09
4   5  -1.726345   1.945823   1.275979  -0.474670   1.050494 -1.704606e-08

In [3]:
X = data.iloc[:40000, 1:6]
y = data.iloc[:40000, 6]
tar_samples, = y.shape
X.head()

   Feature_1  Feature_2  Feature_3  Feature_4  Feature_5
0  -0.299150   0.980381  -1.244780   0.420551  -0.352235
1  -0.374319  -1.179867   0.615588   0.054701   0.687182
2  -1.240429  -0.139086  -0.001653   0.487685  -0.242808
3  -0.429881  -1.724246  -0.098046   0.896504   0.318585
4  -1.726345   1.945823   1.275979  -0.474670   1.050494

In [4]:
tar_samples

40000

In [5]:
y = np.array(y)
X = np.array(X)
y = y.reshape([tar_samples, 1])

In [17]:
w, b = pr.train(X, y, 3,0.00032, 750, 50)

cost 0:5.707586636418665e-17
cost 50:5.4107903170255324e-17
cost 100:5.183931141689068e-17
cost 150:4.9977084847515654e-17
cost 200:4.8365191876104714e-17
cost 250:4.6919593997990147e-17
cost 300:4.559416291341651e-17
cost 350:4.4362794490161166e-17
cost 400:4.3210015414253135e-17
cost 450:4.212604453926541e-17
cost 500:4.1104191975427474e-17
cost 550:4.0139485745460297e-17
cost 600:3.922794359257864e-17
cost 650:3.8366184251652937e-17
cost 700:3.7551217640544233e-17
The final cost is:  3.679533187730424e-17
w:[[-2.55302598e-11]
 [ 5.76363984e-11]
 [ 8.55820132e-12]
 [ 3.78344701e-11]
 [ 4.54812181e-11]
 [-6.31979846e-12]
 [ 8.58795164e-10]
 [-2.79753732e-10]
 [ 9.77044394e-10]
 [-4.46129597e-10]
 [ 4.01767017e-10]
 [-4.71063655e-10]
 [-5.54846402e-10]
 [-2.20305143e-11]
 [-4.78849923e-11]
 [ 1.49710777e-10]
 [-4.42632904e-12]
 [ 1.57515920e-10]
 [-1.34815984e-10]
 [-3.22629886e-10]
 [-5.92870120e-10]
 [ 1.48505849e-10]
 [ 1.32274476e-10]
 [ 8.02429576e-11]
 [-7.73192393e-11]
 [ 8.64657955e-11]
 [-2.24232414e-10]
 [-1.24394428e-10]
 [ 1.21778961e-10]
 [-1.85206373e-10]
 [ 3.02020432e-10]
 [ 7.94502026e-11]
 [-7.11447524e-11]
 [ 2.65130610e-10]
 [-2.25536476e-10]
 [ 1.71930057e-10]
 [ 2.20247680e-11]
 [ 3.94868038e-10]
 [ 4.55149382e-10]
 [-4.73530056e-11]
 [ 1.77619867e-11]
 [ 1.81901060e-10]
 [ 3.90361353e-10]
 [-9.53318758e-11]
 [ 2.68861887e-10]
 [-3.47668359e-11]
 [ 1.36231699e-10]
 [-1.37876156e-10]
 [-1.88073756e-10]
 [ 1.22486500e-10]
 [ 2.53108722e-11]
 [ 1.51246608e-10]
 [ 1.33264258e-10]
 [ 2.22065158e-10]
 [-3.41448419e-11]
 [ 3.25108334e-11]], b:-2.5530259763901618e-11

In [7]:
dev_data = data.iloc[40000:, :]
x_dev = dev_data.iloc[:, 1:6]
y_dev = dev_data.iloc[:, 6]
x_dev = np.array(x_dev)
y_dev = np.array(y_dev)
tars, = y_dev.shape
y_dev = y_dev.reshape([tars, 1])

In [8]:
pr.cost(x_dev, y_dev, 3, w, b)

np.float64(5.375783879491068e-17)

In [9]:
test_data = pd.read_csv("polynomial_regression_test.csv")
test_data.head()

   ID  Feature_1  Feature_2  Feature_3  Feature_4  Feature_5
0   1   1.718004  -0.201814   0.791965  -0.410485   1.678171
1   2   0.782395   0.897345  -0.059263  -1.725306  -1.363520
2   3   0.619033   0.397670  -0.506356  -0.546682  -1.629186
3   4   1.950046  -1.874789  -0.144491   1.952435   1.908823
4   5   0.097417   0.960511  -1.031956  -1.585839  -1.297509

In [10]:
x_test = test_data.iloc[:, 1:]

In [11]:
x_test = np.array(x_test)

In [13]:
y_pred = pr.predict(x_test, 3,  w, b)

In [ ]:
4.256512838011381e-17 == 4.256512838011381e-17

In [16]:
y_pred

array([[ 1.12716786e-09],
       [-4.20485998e-10],
       [-2.35261903e-10],
       ...,
       [ 3.64857532e-11],
       [-1.94862470e-10],
       [-2.18560926e-10]], shape=(12000, 1))

In [ ]:
y_predd = pd.DataFrame(y_pred)
y_predd

In [ ]:
y_predd.head()